/* list_site_contributors.css start t,r,b,l */
#alphabet_nav {
padding: 4px 0px 4px 0px;
}

#authorlist li {
clear: left; 
/* float: left; */
margin: 4px 0px 4px 0px;
width: 100%;
}
 
#authorpiclarge  {
float: left;
padding: 0px 14px 0px 0px;
width: 150px;
}
/* see user photo size options */
#authorpicthumb  {
float: left;
padding: 0px 14px 0px 0px;
width: 40px;
}

#authorinfo {
margin: 4px 0px 4px 0px;
float: left;
background: #effaff;
/* width: 650px; */
width: 100%; 
}
/* list_site_contributors.css end */

								